/* import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  background-color: #F8F5F0;
  color:#2E2E2E;
}

.wholeContainer{
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 6fr;
  }

.wholeContainer div.header {
  grid-area: header;
  text-align: center;
}
.wholeContainer div.menu {
  grid-area: menu;
}
.wholeContainer div.content {
  grid-area: content;
}
.wholeContainer div.footer {
  grid-area: footer;
  text-align: center;
  font-style: italic;
  padding:10px 0px;
  border-top: 2px dashed darkblue;
}

.content{
  display:grid;
  grid-template-areas:
    "title title search search"
    "balance balance addButton addButton"
    "income expense history history"
    "graph graph history history"
    "addNew addNew addNew addNew";
  grid-template-columns:1fr 1fr 1fr 1fr;
}

.content div{
  margin: 10px 10px;
}

.content div.title{
  grid-area:title;
  display: flex;
  justify-content: flex-start; /* horizontal left */
  align-items: center;       /* vertical center */
}

.content div.search{
  grid-area: search;
  display: flex;
  justify-content: flex-end; /* horizontal right */
  align-items: center;       /* vertical center */
}

.searchField{
  width:50%;
  border:1px solid #E5E0D8;
  border-radius:5px;
  padding: 0px 10px;
  height: 25px;
  margin:0px 10px;
}

.search button{
  border:1px solid #E5E0D8;
  background-color:white;
  border-radius:5px;
  padding: 4px 4px;
  height: 25px;
}

.search button:hover{
  background-color: #E5E0D8;
}

/* .searchPopup{
  position: absolute;
  top:129px;
  left:1050px;
  width:250px;
  border: 1px solid #E5E0D8;
  border-top:0;
  background-color: white;
} 

.searchPopup li{
  display: block;
  color: #4A90E2;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

.searchPopup li:hover{
  background-color: #4A90E2;
  color:white;
} */

.content div.addButton{
  grid-area:addButton;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.addButton button{
  padding: 10px;
  border: 0;
  background-color: #4A90E2;
  color:white;
  
}

.addButton button:hover{
  background-color: #2C5FA8;
  color:white;
}

.content div.balance{
  grid-area:balance;
}

.balanceAmount{
  font-size: 30px;
  font-weight: bold;
}

.balanceDesc{
  color:#7A7A7A;
}

.content div.income{
  grid-area: income;
  background-color: #FFFFFF;

}

.content div.expense{
  grid-area:expense;
  background-color: #FFFFFF;

}

.trns{
  border: 2px solid #E5E0D8;
  border-radius: 15px;
  padding: 10px 15px;
}

.trnsTitle{
  color:#7A7A7A;
  font-size: 12px;
  margin-bottom:10px;
}

.trnsAmount{
  font-size: 22px;
}

.content div.history{
  grid-area:history;
  border:2px solid #E5E0D8;
  border-radius:15px;
  padding: 5px 10px;
  background-color: #FFFFFF;
}

.history h2, .addNewTrns h2{
  margin:10px 0px
}

.history table{
  border:2px solid #E5E0D8;
  border-collapse: collapse;
  width:100%;
}

.history td, th {
  border: 1px solid #ddd;
  padding: 4px;
  text-align: center;
  text-wrap: wrap;
}

tr:hover {background-color:#D6E8FF;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.addNewTrns td{
  padding-right: 20px;
  padding-bottom: 10px;
  text-align: left;
  text-wrap: wrap;
}

.content div.graph{
  grid-area:graph;
  border:2px solid #E5E0D8;
  border-radius: 15px;
  background-color: #FFFFFF;
  padding: 10px 15px;
}

.content div.addNewTrns{
  grid-area:addNew;
  border:2px solid #E5E0D8;
  padding: 10px 15px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

h1{
  text-align: center;
  font-family:'Permanent Marker','Times New Roman', Times, serif;
  font-weight: bold;
  color: #4A90E2;
  padding: 10px 10px 5px 10px;
  margin:0px;
}

#welcomeMessage{
  text-align:center;
  margin: 0px;
  padding: 0px 10px 10px 10px;
  color: #4A90E2;
  font-style: italic;
  border-bottom: 2px dashed darkblue;
}

.nav {
  list-style-type: none;
  border-right: 2px dashed darkblue;
  margin: 0;
  padding: 0;
  justify-content: center;
  width: 100%;
  height: 100%; /* Full height */
}

.nav li a {
  display: block;
  color: #4A90E2;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

.nav li a:hover {
  background-color: #2C5FA8;
  color: white;
}

.history tr.Income td {
  color: #4CAF50;
}

.history tr.Expense td {
  color: #E74C3C;
}

.selectBox {
  border:none;
  height: 20px; 
  width: 100px;
}


/* :root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
} */
